#add-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 13px;
    font-weight: 600;
}

#add-inputs div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px;
}

#make-private span {
    margin-right: 3px;
}

.field-add {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    border: 1px solid white;
}

.field-add span {
    color: white;
    font-size: 12px;
    font-weight: 600;
}

.badfat span {
    color: lightyellow;
}

.creative span {
    color: lightyellow;
}

.exercise #add-inputs input {
    width: 155px;
    text-align: center;
    border-radius: 3px;
}

.goodfat span {
    color: lightyellow;
}

.hydration span {
    color: darkslateblue;
}

.protein #add-inputs input {
    width: 155px;
    text-align: center;
    border-radius: 3px;
}

.sleep span {
    color: rgb(250, 249, 249);
}

#field-logo {
    display: inline-block;
    margin-left: 20px;
}