#top-container {
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    align-items: center;
}

#sub-header {
    display: block;
    color: rgb(21, 21, 107);
    font-size: 15px;
    padding: 5px;
    font-style: italic;
}

#from {
    font-size: 14px;
    margin-left: 15px;
    font-weight: 600;
}

#units {
  font-weight: 600;
  display: inline-flex;
  flex-direction: column;
  list-style-type: none;
  border: 1px solid darkblue;
  padding: 2px;
  border-radius: 6px;
}

#units li {
    padding: 3px 10px;
}

#units i.fas i.far {
    margin-right: 20px;
}

#add-section #add-words {
    color: rgb(21, 21, 107);
    text-align: center;
    margin-bottom: 20px;
}

#nested-form {
    border: 1px solid darkblue;
    border-radius: 7px;
    padding: 20px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#nested-form-button {
    margin-top: 10px;
    width: 120px;
    border-radius: 5px;
    border: 1px solid #a6a6a6;
}

#nested-form-button:hover {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

#add-section span {
    color: rgb(21, 21, 107);
    font-style: italic;
}

#add-section #field-logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    max-width: 190px;
}

#add-section #field-logo span {
    margin-left: 5px;
}

#add-section #nested-form #add-inputs #textbox {
    width: 420px;
    text-align: center;
}

#add-inputs input {
    border: 1px solid black;
}

#add-inputs select {
    border-radius: 5px;
    padding: 0px 2px;
}

#add-section #make-private {
    margin-right: 20px;
}

#add-section #ask-routes button {
    border-radius: 5px;
    border: 1px solid black;
}

#add-section #ask-routes button:hover {
    border: 1px solid blue;
    color: blue;
}

#add-section #nested-form #edit-button {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 10px;
}

#top-container #title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;  
}

#add-section #nested-form h5 {
    margin-bottom: 15px;
    margin-top: 0px;
}

#add-section .alcohol-edit #edit-button:hover {
    border: 1px solid rgb(144, 245, 42);
}

#add-section .badfat-edit #edit-button:hover {
    border: 1px solid rgb(238, 192, 111);
}

#add-section .caffeine span {
    color: white;
    font-style: italic;
}

#add-section .caffeine #ask-routes {
    color: white;
}

#add-section .caffeine-edit #edit-button:hover {
    border: 1px solid rgb(62, 39, 14);
}

#add-section .carb-edit #edit-button:hover {
    border: 1px solid rgb(254, 207, 20);
}

#add-section .cigarette-edit #edit-button:hover {
    border: 1px solid rgb(174, 204, 243);
}

#add-section .creative #add-inputs #textbox {
    width: 380px;
    border: 1px solid black;
}


#add-section .creative-edit #edit-button:hover {
    border: 1px solid rgb(175, 33, 215);
}


#add-section .drug-edit #edit-button:hover {
    border: 1px solid rgb(247, 64, 247);
}


#add-section .exercise span {
    color: white;
    font-style: italic;
}


#add-section .exercise-edit #edit-button:hover {
    border: 1px solid rgb(33, 193, 193);
}

#add-section .fasting span {
    color: white;
    font-style: italic;
}


#add-section .fasting-edit #edit-button:hover {
    border: 1px solid darkslateblue;
}

#add-section .gooddeed #add-inputs #textbox {
    width: 350px;
}

#add-section .gooddeed-edit #edit-button:hover {
    border: 1px solid rgb(0, 179, 255);
}


#add-section .goodfat-edit #edit-button:hover {
    border: 1px solid rgb(236, 71, 25);
}


#add-section .hydration-edit #edit-button:hover {
    border: 1px solid rgb(107, 248, 248);
}

#add-section .learning #add-inputs #textbox {
    width: 370px;
}

#add-section .learning-edit #edit-button:hover {
    border: 1px solid rgb(35, 221, 35);
}

#add-section .localbiz #add-inputs #textbox {
    width: 350px;
}

#add-section .localbiz-edit #edit-button:hover {
    border: 1px solid rgb(245, 101, 12);
}

#add-section .medication span {
    color: white;
    font-style: italic;
}

#add-section .medication-edit #edit-button:hover {
   border: 1px solid red;
}

#add-section .mindful-edit #edit-button:hover {
    border: 1px solid rgb(109, 109, 210);
}

#add-section .oop-edit #edit-button:hover {
   border: 1px solid rgb(254, 153, 2);
}

#add-section .protein-edit #edit-button:hover {
    border: 1px solid rgb(250, 121, 121);
}

#add-section .sleep span {
    color: white;
}

#add-section .sleep-edit #edit-button:hover {
    border: 1px solid rgb(31, 31, 119);
}

#add-section .sleep #ask-routes {
    color: white;
}

#add-section .sugar-edit #edit-button:hover {
    border: 1px solid rgb(252, 178, 191);
}

#add-section .vegetable-edit #edit-button:hover {
    border: 1px solid rgb(69, 138, 9);
}