
.profile {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
}

.profile select {
    border-radius: 5px;
}

#left {
    max-width: 300px;
    grid-column: 1;
    padding: 20px;

}

#right {
    grid-column: 2;
    max-width: 100% - 300px;
    padding: 20px;
}

.profile #avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 30px;
}

.bio {
    text-align: center;
}

#bio-content select {
    text-align-last: center;
}

#edit-bio-title {
    font-size: 15px;
    font-weight: 600;
}

#bio-q-title {
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
}

.add-countries {
    margin-bottom: 15px;
}

#countries-travelled-words {
    margin-top: 15px;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

#no-country {
    font-size: 12px;
    padding: 3px;
    color: blue;
    font-weight: 600;
    margin-bottom: 5px;
}

#country {
    font-size: 12px;
    padding: 3px;
    color: green;
    font-weight: 600;
    margin-bottom: 5px;
}

#bio-content {
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 10px;
}

#bio-content #textbox {
    min-width: 200px;
    min-height: 40px;
}

#bio-content #edit-button {
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid black;
}

#bio-content #edit-button:hover {
    color: blue;
    border: 1px solid blue;
}

#bio-content button {
    margin-top: 10px;
}

#close-bio-button {
    border-radius: 4px;
    border: 1px solid black;
}

#close-bio-button:hover {
    color: red;
    border: 1px solid red;
}

#mental-holder {
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mental-holder #top-row {
    display: flex;
    justify-content: space-between;
}

#mental-edits {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    width: 60px;
    margin-right: 10px;
}

#mental-edits div:nth-child(1) {
    margin-right: 10px;
}

.mental-edit-section {
    border: 1px solid darkblue;
    border-radius: 7px;
    background-image: url(/clouds.jpg);
    background-size: contain;
    display: flex; 
    justify-content: center;
}

.mental-edit-section #mental-qs h3 {
    color: darkblue;
    font-size: 15px;
}

.mental-edit-section #mental-qs h4{
    color: darkblue;
    font-size: 12px;
    margin-top: -2px;
}

.mental-edit-section #mental-qs select {
    margin-top: 5px;
    width: 200px;
    border-radius: 3px;
}

.mental-edit-section #mental-qs #notes {
    margin-top: 10px;
    height: 60px;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

.mental-edit-section #edit-button {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 90px;
}

.mental-edit-section #edit-button:hover {
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}

#nm-button {
    margin-left: 90px;
    margin-top: 20px;

}

#nm-button:hover {
    color: red;
    border: 1px solid red;
    border-radius: 3px;
}

.badge-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 5px blue;
    border-radius: 7px;
}

#badge-close-button {
    padding: 3px;
    border-radius: 7px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 120px;
}

#badge-close-button:hover {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}

#right h3 {
    text-align: center;
}

.badge-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.non-challenge-badges {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
}

.non-challenge-badges div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.badge-holder i {
    padding: 15px;
}

.badge-holder > div {
    font-size: 14px;
    text-align: center;
}

.challenge-badges {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.challenge-badges div {
    padding: 10px;
    margin-bottom: 5px;
}

#badge-eyeballs {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    padding: 0px;
}

#badge-eyeballs button {
    border-radius: 100px;
    width: 50px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 8px;
}

#badge-eyeballs i {
    padding: 3px;
}

.profile-challenges h3{
   text-align: center;
}

#challenge-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    border: 4px solid gold;
    border-radius: 7px;
}

#challenge-holder {
    display: inline-block;
}

#challenge-holder-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

#challenge-holder-content #make-private {
    margin-bottom: 10px;
    margin-top: 10px;
}

#challenge-holder-content #make-private span {
    font-size: 14px;
    margin-right: 5px;
}

#challenge-holder-content #make-private select {
    text-align-last: center;
}

#challenge-edit-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-top: solid gold 1px;
}

#edit-challenge-holder #icon-and-name {
    font-size: 14px;
    width: 120px;
    margin-left: 20px;
}

#edit-challenge-holder #icon-and-name div:nth-child(2) {
    margin-left: 10px;
}

#challenge-holder-content div:nth-child(1){
    display: flex;
    align-items: center;
}

#edit-words {
    color: blue;
    font-size: 14px;
}

#delete-words {
    color: red;
    font-size: 14px;
}

#challenge-edit-section #challenge-holder {
    display: inline-block;
}

#edit-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}

#no-current-challenges {
    font-size: 14px;
    padding: 15px;
}

#edit-no-current-challenges {
    font-size: 14px;
    padding: 5px;
}

#add-new-challenge-words {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

#profile-new-challenge {
    font-size: 13px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: solid gold 1px;
    width: 100%;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#close-challenge-button {
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#close-challenge-button:hover {
    color: red;
    border-radius: 3px;
    border: 1px solid red;
}

#number-input {
    width: 120px;
    text-align: center;
}

#metrics {
    display: flex;
    flex-direction: column-reverse;
}

#metric-holder {
    padding: 5px;
    display: block;
    color: white;
    text-align: center;
}

#metric-content {
    display: flex;
    padding: 12px;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}


#metric-holder-content {
    border-radius: 7px;
    padding: 10px;
    font-size: 15px;
}

#metric-content #date {
   margin-left: 10px;
   width: 90px;
   text-align: center;
   /* background-color: red; */
}

#metric-content #logo {
    width: 215px;
    text-align: center;
    /* background-color:yellow; */
    /* margin-left: -10px; */
}



#metric-content #info {
    width: 315px;
    text-align: left;
    /* background-color: blue; */
    margin-left: 10px;
}

#metric-edits {
    justify-content: flex-end;
    flex-direction: row;
    display: flex;
    width: 60px;
    margin-right: 10px;
    /* background-color: green; */
}

#metric-edits div:nth-child(1) {
    margin-right: 10px;
}

#metric-edit-form .form {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 6px;
    margin-top: 10px;
    padding: 20px;
    font-size: 14px;
    background-color: white;
}

#metric-edit-form #edit-button {
    border: 1px solid black;
    border-radius: 5px;
}

#metric-edit-form #edit-button:hover {
    color: blue;
    border: 1px solid blue;
}

#metric-edit-form button {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid black;
}

#metric-edit-form button:hover {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
}



